.redds, .ass, .xyz, button, .essa, p, .mandarin{
    display: flex;
    justify-content: center;
}
.qw p{
    margin-left: -650px;
    color: red;
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 13px;
}
.qw1 p{
    margin-top: -15px;
    color: red;
    margin-left: 170px;
    margin-bottom: -3px;
    font-size: 13px;
}

.conteiner{
    margin-top: 190px;
}

input:invalid{
    border-color: red;
    box-shadow: none;
}
.redds .q{
    border: 1px solid red;
}


input{
    margin: 6px;
    padding-left: 20px;
    width: 370px;
    height: 39px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}

button{
    border: 0px solid #2c63ca;
    width: 700px;
    height: 39px;
    color: white;
    margin: 6px;
    padding-top: 10px;
    background-color: #2c63ca;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: #2c63ca;
}

p.essa{
    font-size: 25px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px
}