*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1200px;
    margin: 0 auto;
}
header{
    background: #F0F3F5;
}
header .container{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 170px;
}
header .a{
    margin-top: 15px;
    margin-bottom: 10px;
}
header nav a{
    text-decoration: none;
    padding: 20px;
    color: #2c63ca;
}

main h2{
    padding: 30px;
}
main .knopka {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}
main .knopka input{
    width: 150px;
    height: 40px;
    margin-left: 30px;
}
main .knopka button{
    width: 80px;
    height: 40px;
    background: green;
    color: white;
    border-radius: 3px;
    margin-right: 25px;
    border: none;
}
main .knopka select{
    width: 70px;
    height: 40px;
    border-radius: 3px;
}
main .knopka select:hover{
    background: #F0F3F5;
    color: black;
}

.imges{
    display: flex;
    justify-content: space-between;
}
.img1, .img2, .img3, .img4{
    border: 1px solid #e0e0e0;
    width: 280px;
    margin: 10px;
    border-radius: 3%;
}
.img1 h4{
    width: 300px;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
.img1 p{
    width: 250px;
    margin-left: 10px;
    height: 150px;
    margin-top: 20px;
}
.img2 h4{
    width: 300px;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
.img2 p{
    width: 250px;
    margin-left: 10px;
     margin-top: 20px;
}
.img3 h4{
    width: 300px;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
.img3 p{
    width: 250px;
    margin-left: 10px;
     margin-top: 20px;
}
.img4 h4{
    width: 300px;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
.img4 p{
    width: 250px;
    margin-left: 10px;
     margin-top: 20px;
}
.img1 img{
    width: 277px;
    height: 185px;
}
.img2 img{
    width: 277px;
}
.img3 img{
    width: 277px;
}
.img4 img{
    width: 277px;
    border-radius: 3px;
}
.img1 button{
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 10px;
    height: 30px;
    width: 70px;
    background: #2c63ca;
    color: white;
    border: 1px solid #2c63ca;
    border-radius: 5px;
    cursor: pointer;
}
.img2 button{
    margin-top: 144px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 30px;
    width: 70px;
    background: #2c63ca;
    color: white;
    border: 1px solid #2c63ca;
    border-radius: 5px;
    cursor: pointer;
}
.img3 button{
    margin-top: 144px;
    margin-bottom: 10px;
    margin-left: 10px;
     height: 30px;
    width: 70px;
    background: #2c63ca;
    color: white;
    border: 1px solid #2c63ca;
    border-radius: 5px;
    cursor: pointer;
}
.img4 button{
    margin-top: 144px;
    margin-bottom: 10px;
    margin-left: 10px;
     height: 30px;
    width: 70px;
    background: #2c63ca;
    color: white;
    border: 1px solid #2c63ca;
    border-radius: 5px;
    cursor: pointer;
}

.pr{
    display: flex;
    justify-content: space-between;
}

.pr input{
    margin: 0px 20px;
    width: 510px;
    height: 25px;
}

.class{
    cursor: pointer;
    background: #2c63ca;
    border: 1px solid #2c63ca;
    border-radius: 3px;
    color: white;
}
.stopa {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    background: #F0F3F5;
}
.stopa h4{
    margin-left: 21px;
}

footer a{
    padding: 20px;
    text-decoration: none;
    color: #2c63ca;

}
.stopa h4, nav a{
    margin-top: 15px;
    margin-bottom: 10px;
}
